.logo-header{
    max-width: 250px;
}
.logo-header img{
    width: 100%;
}
.site-nav{
    max-width: 1400px;
    margin-top: 20px;
    margin-bottom: 50px;
    /* margin: 20px auto; */
    padding: 12px;
    display: flex;
    justify-content: space-between;
}
.site-nav .menu{
    max-width: 650px;
    width: 100%;
}
.site-nav .menu ul{
    display: flex;
    justify-content: space-between;
}
.site-nav .menu ul li a{
    color: var(--black);
    font-family: var(--russo-one);
    font-weight: bold;
    font-size: 14px;
    transition: 0.5s;
}
.site-nav .menu ul li a:hover{
    color: var(--blue);
    transition: 0.5s;
}